/* #################### PRINCIPALES ######################### */
*::selection {
  background-color: #fde345;
  color: #555;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6ff;
  text-align: center;
}
/* ######################################################### */

/* #################### GENERALES ######################### */
li,
a {
  color: #000;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
/* .general-container {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
} */
/* ######################################################### */

/* #################### HEADER ######################### */
header {
  display: flex;
  position: fixed;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  background-color: #f4f6ff;
  z-index: 100;
  opacity: 0.9;
}
@media (min-width: 1000px) {
  header {
    justify-content: space-evenly;
  }
}
.logo img {
  width: 20rem;
  height: 4rem;
}
@media (min-width: 768px) {
  .logo img {
    width: 30rem;
    height: 6rem;
  }
}
.nav-links {
  position: absolute;
  top: 6.2rem;
  right: -101rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* Si se quiere que la transición sea mejor se debería poner en distintos media queries */
  transition: all 0.5s ease;
  font-size: 2rem;
  font-weight: 400;
  background-color: #f4f6ff;
}
@media (min-width: 768px) {
  .nav-links {
    top: 8rem;
  }
}
@media (min-width: 1000px) {
  nav {
    margin: auto 0;
  }
  .nav-links {
    position: static;
    display: flex;
    width: 55rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1180px) {
  .nav-links {
    width: 75rem;
  }
}
.nav-active {
  right: 0;
}
.nav-links li {
  border-top: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
}
.nav-links li:nth-child(4) {
  border-bottom: 1px solid #ccc;
}
@media (min-width: 1000px) {
  .nav-links li,
  .nav-links li:nth-child(4) {
    max-width: 9.5rem;
    padding: 0;
    border: none;
  }
}
.burger {
  position: absolute;
  top: 1.9rem;
  right: 2rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .burger {
    top: 2.8rem;
  }
}
@media (min-width: 1000px) {
  .burger {
    display: none;
  }
}
.burger div {
  background-color: #252522;
  height: 0.3rem;
  margin: 0.4rem;
  width: 2.5rem;
}
/* ######################################################### */

/* #################### CONTENIDO PRINCIPAL DEL HEADER ######################### */
.header-text {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text img {
  padding: 0 2rem;
}
.header-text h1 {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 500;
  padding: 2rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .header-text {
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
  }
  .header-text img {
    max-width: 40rem;
    max-height: 40rem;
  }
  .header-text h1 {
    text-align: left;
  }
}
/* ######################################################### */

/* #################### TECNOLOGÍAS ######################### */
.line {
  display: block;
  max-width: 8rem;
  background-color: black;
  height: 4px;
  margin: 5rem auto 3rem auto;
}
.title-card h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}
.grid-general {
  display: grid;
  grid-template-rows: repeat(3, 270px);
  gap: 4em;
  justify-content: center;
  margin: 4rem 0;
}
@media (min-width: 768px) {
  .grid-general {
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: none;
    gap: 2em;
    margin-bottom: 10rem;
  }
}
@media (min-width: 1000px) {
  .grid-general {
    gap: 5em;
  }
}
.grid-general h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 0.2rem 0;
  color: white;
}
.card1,
.card2,
.card3 {
  display: grid;
  grid-template-rows: 230px 40px;
  width: 23rem;
  height: 27rem;
  box-shadow: 0px 4px 4px 0 black;
  text-align: center;
  background-image: linear-gradient(to right, black, grey);
  border-radius: 10px;
}
#image1,
#image2,
#image3 {
  border-bottom: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  width: 23rem;
  height: 23rem;
}
@media (min-width: 768px) {
  #image1:hover,
  #image2:hover,
  #image3:hover {
    opacity: 0.6;
  }
}
/* ######################################################### */

/* #################### INFORMACIÓN DE LOS LENGUAJES ######################### */
.info-html {
  padding: 2rem 0;
  background-color: #e7622a;
}
.info-css {
  padding: 2rem 0;
  background-color: #4299ff;
}
.info-js {
  padding: 2rem 0;
  background-color: #f7df19;
}
.container {
  padding: 2rem;
}
.container h2 {
  margin-bottom: 3rem;
  font-size: 4rem;
}
.container h3 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
.container p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 3rem;
}
.container b {
  font-weight: 600;
}
.historia {
  display: block;
}
.historia img {
  width: 32rem;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .historia img {
    float: left;
  }
}
.iframe {
  display: block;
  margin: auto;
  position: relative;
  width: 60%;
  padding-bottom: 30%;
  height: 0;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
/* ######################################################### */

/* ########################### SOBRE NOSOTROS ########################### */
.dev-stories {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .dev-stories {
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1000px) {
  .dev-stories {
    justify-content: center;
  }
}
.image-stories-container {
  margin-bottom: 2rem;
  border-radius: 50%;
  border: 3px solid #000;
  display: flex;
}
@media (min-width: 768px) {
  .image-stories-container:hover {
    border: 3px solid #fa1e34;
    cursor: pointer;
  }
}
@media (min-width: 1000px) {
  .image-stories-container {
    margin-right: 4rem;
  }
}
.stories-img {
  width: 11.6rem;
  height: 11.6rem;
  border-radius: 50%;
}
.grid-devCards {
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  margin-top: 3rem;
  gap: 2em;
}
@media (min-width: 768px) {
  .grid-devCards {
    grid-template-rows: 295px;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 0.5em;
  }
}
.cardDev1 {
  display: grid;
  text-align: center;
  width: 24rem;
  height: 29rem;
  background-color: #fff3b2;
  border-radius: 10px;
  justify-self: center;
  box-shadow: 0px 4px 4px 0 black;
}
.container-cardDev1 h3 {
  margin: 1rem auto;
}
#imageDev1 {
  border-bottom: 2px solid grey;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  min-width: 24rem;
  max-height: 25rem;
}
.devCards-info {
  background-color: #fff3b2;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0 black;
  max-width: 27rem;
  max-height: 31rem;
}
.devCards-text {
  font-size: 2rem;
  text-align: center;
  color: black;
  padding: 2rem;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-media-icons {
  border-radius: 50%;
  display: inline-block;
  margin: 4rem 2rem;
  width: 8rem;
  height: 8rem;
  border: 2px solid #000;
  text-align: center;
  color: #000;
  background-color: #fff3b2;
}
.social-media-icons {
  margin: 3rem 2rem;
}
@media (min-width: 768px) {
  .social-media-icons:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}
.social-media-icons i {
  font-size: 5rem;
  line-height: 8rem;
}
/* ######################################################### */

/* ########################### FOOTER AP ########################### */
.footerAP-container {
  padding: 1rem;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  font-weight: 200;
}
@media (min-width: 1000px) {
  .footerAP-container {
    padding: 2rem;
    font-size: 2rem;
  }
}
.bolder {
  font-weight: 700;
}
.AP-social-media-icons {
  color: #eaed1d;
  font-size: 3rem;
  padding: 1rem 0 0 0.5rem;
}
@media (min-width: 768px) {
  .AP-social-media-icons:hover {
    color: #fff;
  }
}
@media (min-width: 1000px) {
  .AP-social-media-icons {
    font-size: 4rem;
  }
}
/* ######################################################### */

/* ########################### FOOTER PÁGINA ########################### */
.footer {
  background-color: #b9ac92;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ImageFooter {
  width: 50%;
}
.Copyright {
  color: black;
  font-size: 1.5rem;
  padding-right: 1rem;
}
@media (min-width: 1000px) {
  .Copyright {
    font-size: 2rem;
  }
}
/* ######################################################### */
