body {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.2rem;
  }
  
  /*=============================================
    ANCHOR HEADER
    =============================================*/
  
  header{
    background-color: #e9e9e9;
    
    background-size: cover;
    height: 40rem;
  
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 10%;
  padding: 0.5rem 0 ;
  
  }
  .logo img {
    width: 500px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-top: 1rem;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  .burguer {
    display: none;
    cursor: pointer;
  }
  .burguer div {
    background-color:black;
    height: 3px;
    margin: 5px;
    width: 25px;
  }
  
  @media only screen and (max-width: 1199.98px) {
    .logo img {
      width: 400px;
    }
    .nav-links {
      width: 60%;
    }
  }
  @media only screen and (max-width: 991.98px) {
    body {
      overflow-x: hidden;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 86.5%;
      top: 9%;
      background-color: rgba(168, 165, 165, 0.822);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      
    }
    .burguer {
      display: block;
    }
  
    .nav-active {
      transform: translateX(0%);
      padding: 0;
      transition: transform 0.5s ease-in;
    }
  }
  @media only screen and (max-width: 767.98px) {
    body {
      overflow-x: hidden;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 86.5%;
      top: 8.5%;
      background-color: rgba(0, 0, 0, 0.432);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    .burguer {
      display: block;
    }
  
    .nav-active {
      transform: translateX(0%);
      padding: 0;
      transition: transform 0.5s ease-in;
    }
  }
  @media only screen and (max-width: 575.98px) {
    body {
      overflow-x: hidden;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 86.5%;
      top: 8.5%;
      background-color: rgba(0, 0, 0, 0.432);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    .burguer {
      display: block;
    }
  
    .nav-active {
      transform: translateX(0%);
      padding: 0;
      transition: transform 0.5s ease-in;
    }
  
    .logo img {
      width: 250px;
    }
  }
  