* {
  scroll-behavior: smooth;
}

*::selection {
  background-color: #fde345;
  color: #555;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* background-image: linear-gradient(to right, #fc8621, #f9e0ae); */
  /* background-image: linear-gradient(to right , #1d2d50, #133b5c); */
  background-color: #f4f6ff;
  /* background-image: linear-gradient(to right, #fc8621, #c24914); */
  /* background-color: #f9e0ae; */
  /* text-align: center; */

}

header {
  background-color: #ba7967;
  /* background-color: #20c1e1; */
  background-color: #f4f6ff;
  /* background-image: linear-gradient(to right, #f0a500 , #cf7500); */
  /* background-image: url("https://images.unsplash.com/photo-1585402210468-66f32841af08?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=375&q=80"); */
  background-size: cover;
  height: 6rem;
  /* position: fixed;  */
}



p.description {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 10%;
  padding: 0.5rem 0;
}

.logo img {
  margin-top: 25px;
  padding-top: 10px;
  height: auto;
  width: 500px;
  position: relative;
  bottom: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-top: 1rem;
  z-index: 2;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
  height: auto;
  width: 500px;
  position: relative;
  bottom: 15px;
  margin: 5px;
}

.nav-links a:hover {
  color: white;
  /* text-shadow: 1px 2px black; */
}

.burguer {
  display: none;
  cursor: pointer;
}

.burguer div {
  background-color: black;
  height: 3px;
  margin: 5px;
  width: 25px;
}

@media only screen and (max-width: 1199.98px) {
  .logo img {
    width: 400px;
  }
  .nav-links {
    width: 60%;
  }
}

@media only screen and (max-width: 991.98px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 83%;
    top: 9%;
    background-color: #f4f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .burguer {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
    padding: 0;
    
  }
}

@media only screen and (max-width: 767.98px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    right: 0px;
    height: 86.5%;
    top: 8.5%;
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
  }

  .burguer {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
    padding: 0;
    
  }
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 86.5%;
    top: 8.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .burguer {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
    padding: 0;
    
  }

  .logo img {
    width: 250px;
  }
}

/*=============================================
Header
=============================================*/
.container-header{
  display: block;
  max-width: 80rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}
.header h1 {
  font-size: 3rem;
  align-self: center;
  margin-right: 3rem;
  font-weight: 600;
}
.header img {
  max-width: 400px;
  margin-left: 3rem;
  z-index: 1;
}

/*=============================================
MQ HEADER
=============================================*/

@media only screen and (max-width: 1199.98px) {


  .header {
    padding-top: 3rem;
  }

  .header h1 {
    font-size: 2.5rem;
  }
  .header img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 991.98px) {

  .header {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 767.98px) {


  .header h1 {
    font-size: 1.8rem;
    margin-right: 1.5rem;
  }
  .header img {
    max-width: 300px;
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 575.98px) {

  .header {
    flex-wrap: wrap;
  }
  .header h1 {
    font-size: 2.2rem;
    margin: 1rem 0;
    order: 1;
    text-align: center;
  }
  .header img {
    max-width: 390px;
    margin: 0;
  }
}

@media only screen and (max-width: 370px) {
  html {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 340px) {
  html {
    padding-left: 1rem;
  }
  .header img {
    max-width: 340px;
  }
}


/*=============================================
ANCHOR main
=============================================*/

.info-html{
  padding:2rem 0;
  background-color:#e7622a;
}

.info-css{
  padding:2rem 0;
  background-color: #4299ff;
}

.info-js{
  padding: 2rem 0;
  background-color:#f7df19 ;
}

.container{
  display: block;
   max-width:80%;
   margin: auto;
   padding: 1rem 2rem;
}
.container h2{
  text-decoration: none;
  margin: 0 0 1rem 0;
  font-size: 2.7rem;
}
.container h3{
  font-size: 2.3rem;
  text-align: left;
  margin-bottom: 1rem;
}
.container p{
   font-size: 1.4rem;
   text-align: justify;
}
.container b{
  font-weight: 600;
}

.historia{
  display: block;
  
}
.historia img{
  max-width: 500px;
  float: left;
}

.iframe{
  display: block;
  margin: auto;
  position: relative;
  width: 60%;
  padding-bottom:30%;
  height: 0;
}
.iframe iframe{
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  margin:auto;
}


@media only screen and (max-width:1199.98px){

}
@media only screen and (max-width:991.98px){

}
@media only screen and (max-width:767.98px){
  
  .container{
    display: block;
     max-width:100%;
     margin: auto;
     padding: 1rem 2rem;
  }
  .container h3{
    text-align: center;
  }
  .container p{
    text-align: left;
    font-size: 1rem;
  }
  .historia-js img{
    max-width: 300px;
    float: none;
    display: block;
    margin: auto;

  }
}
@media only screen and (max-width:575.98px){
  .historia img{
    max-width: 200px;
    

  }
}

.tittle-card{
  margin-top: 10rem;
}
.line{
  margin-top: 10rem;
  display: block;
  max-width: 5rem;
  background-color: black;
  height: 4px;
  margin: auto;
}
.tittle-card h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.grid-general {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 230px);
  gap: 5em;
  justify-content: center;
  margin: 2rem 0 5rem;
  /* margin: 200px 0px 300px 0px; */
  /* background-color: orange; */
}
.grid-general h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 0;
  color: white;
}

.card1,
.card2,
.card3 {
  display: grid;
  grid-template-rows: 230px 40px;
  width: 230px;
  height: 270px;
  box-shadow: 0px 4px 4px 0 black;
  text-align: center;
  /* background-color: black; */
  background-image: linear-gradient(to right, black, grey);
  border-radius: 10px;
}




#image1,
#image2,
#image3 {
  border-bottom: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  width: 230px;
  height: 230px;
}

#image1:hover,
#image2:hover,
#image3:hover {
  opacity: 0.6;
}

.grid-devCards {
  display: grid;
  grid-template-columns: 270px 995px;
  grid-template-rows: repeat(3, 270px);
  gap: 2em;
  margin-top: 50px;
  margin-bottom: 120px;
}

.cardDev1,
.cardDev2,
.cardDev3 {
  display: grid;
  grid-template-rows: 230px 40px;
  width: 230px;
  height: 270px;
  box-shadow: 0px 4px 4px 0 black;
  text-align: center;
  background-color: #fff3b2;
  border-radius: 10px;

  justify-self: left;
  margin-left: 40px;
}

.container-cardDev1,
.container-cardDev2,
.container-cardDev3 {
  margin: auto;
}


.devCards-info {
  background-color: #fff3b2;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0 black;
  height: 270px;
}

.devCards-text {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  color: black;
  padding: 10px;
}

#imageDev1,
#imageDev2,
#imageDev3 {
  border-bottom: 2px solid grey;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  justify-content: center;
  width: 230px;
  height: 230px;
}

footer {
  background-color: #b9ac92;
}

.ImageFooter {
  padding-top: 10px;
  height: auto;
  width: 500px;
  margin-left: 840px;
  position: relative;
  bottom: 20px;
}

.Copyright {
  color: black;
  font-size: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
  position: relative;
  top: 50px;
}

u {
  text-decoration: underline red;
}

h6 {
  font-size: 30px;
  padding: 0 20px;
  margin: 0;
  color: #20c1e1;
  text-shadow: 1px 1px 2px black;
}

#example-images {
  margin: 20px 5px;
  border: 5px solid #333;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 black;
}

.about-us-nav {
  margin-left: 30px !important;
  font-weight: bold !important;
}

.dev-stories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-stories-container {
  width: 120px;
  height: 120px;
  margin: 2px 25px;
  border-radius: 50%;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-stories-container:hover {
  border: 3px solid #fa1e34;
  cursor: pointer;
}

.stories-img {
  width: 116px;
  height: 116px;
  border-radius: 50%;
}




/*=============================================
ANCHOR Social media
=============================================*/

.social-media {
  display: flex;
  justify-content: center;
}
.social-media-icons {
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  text-align: center;
  color: #000;
  background-color: #fff3b2;
}
.social-media-icons:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.social-media-icons i {
  font-size: 50px;
  line-height: 80px;
}

.footerAP-container {
  padding: 2rem;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  font-size: 2rem;
  font-weight: 200;
}
.bolder {
  font-weight: 700;
}
.AP-social-media-icons {
  color:#EAED1D;
  font-size: 3rem;
  padding-top: 1rem;
}
.AP-social-media-icons:hover {
  color: #fff;
}
